/* documento css */

body{
	margin:0;
	padding: 0;
	border: 0;
	front-family:sons-serilf;
	background-color: #eddbc4
}
header{
	background-color:#d9dbdb;
	height: 100px;
	padding-top: 25px;
	color: #666666;
	text-align: center;
}
main{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	pading: 20 px;
	flex-wrap: wrap;
	align-content: center;
}
.box{width: 400px;
	min-height: 700px;
	background-color:#cdbdae;
	border-radius:10px;
	padding:10px;
	color: #f4efec;
	text-aling:center;
	margin: 10px;
}
.box:hover{
	box-shadow: 6px 6px 10px #a4a4a4;
	background-color: #F2E0C9;
	color:#666666;
}
.box h2{marging:0 0 10px 0;
	padding: 0;
}
box figure{
	width: 250px;
	height: 200px;
	background-color: #e6e6e6;
	margin: 0;
	padding: 0;
}
box figure img {
	width: 400px;
}
.box p{
font-size:18pt;
}
footer {
	background-color: #cf97a0;
	height: 70px;
	padding-top: 10px;
	color: #ffdd8c;
	text-align: center;
}